body
{
    background-color: #000;
    margin: 0px;
}
p 
{
   
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
}
h3 
{
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 2px;

}
h1 {
    text-align: center;
    font-size: 200px;
    text-transform: uppercase;
    letter-spacing: 15px;
}
section {
    text-align: center;
    font-size: 75px;
    text-transform: uppercase;
    letter-spacing: 15px;
}
* {
    color: azure;
    font-family: 'Quicksand', sans-serif;

}
.topbar {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
.logo {
    height: 60px;
}
.shawaizpic
 {
     display: flex;
     justify-content: center;
     height: 300px;
}
#erhapic{
    display: flex;
    justify-content: center;
}
.quotations {
    display: flex;
    justify-content: center;
    position: relative;
}
.founderparagraph {

    top: 214%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    background:transparent;
    position: absolute;
}
h4{
    font-size: 32px;
    text-transform: uppercase;
}
.cofounderparagraph {
    position: absolute;
    top: 305%;
    left: 50%;
    background: transparent;
    transform: translate(-50%, -50%);
}
li {
    list-style: none;
    display: inline-block;
}
li a {
    color: white;
    font-size: 25px;
    margin-right: 25px;
    text-decoration: none;
}
#foundername {
    font-size: 21px;
    letter-spacing: 8px;
}
#aboutusheading {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 60px;
}

.partnerlogo 
{
    display: flex;
    justify-content: space-evenly;
    position: relative;

}
.missionsection {
    display: flex;
    justify-content: center;
}
.visionsection {
    display: flex;
    justify-content: center;
}
.valuessection {
    display: flex;
    justify-content: center;
}
.formsection {
    background-color: #070707;
    margin: 100%;
    width: 400px;
    height: auto;
    margin: 0 auto
   
}
.services
{
    float:left;
}
form
 {
    color: #000;
    text-align: center;
}
input {
    display: flex;
    padding: 10px;
    margin: 15px;
    flex-direction: column;
    margin-left: 5px;

    width: 30%;
    background-color: grey;
    align-items: center;
    width: 300px;
    margin: 0 auto; 

}
label {
    display: flex;
    justify-content: center;
    color:grey;
}
button {
    background-color: grey;
    padding: 10px;

}
button:hover {
    background-color: darkgrey;
}
.topbar a:hover{
    color: gray;
}
.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
    margin-left: 250px; 
}

.service-image img {
    max-width: 100%;
    height: 300px;
    justify-content: center;
}

.service-content {
    flex: 1;
    margin-left: 20px;
    text-align: left;
    justify-content: left;
  
}
.footerbar
{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}