body
{
    background-color: #000;
    margin: 0px;
}
p 
{
   
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 16px;
}
h3 
{
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    letter-spacing: 2px;

}
h1 {
    text-align: center;
    font-size: 200px;
    text-transform: uppercase;
    letter-spacing: 15px;
}
section {
    text-align: center;
    font-size: 75px;
    text-transform: uppercase;
    letter-spacing: 15px;
}
* {
    color: azure;
    font-family: 'Quicksand', sans-serif;

}
.topbar
 {
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
.logo 
{
    height: 60px;
}
.shawaizpic img,
#erhapic img,
.founder img,
.cofounder img
{
    display: block;
    margin: 0 auto;
    height: 300px;
}
.quotations {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1; 
    background-color: #000; 
}

.founder img,
.cofounder img 
{
    display: block;
    margin: 0 auto;
    height: 300px;
    position: relative;
    z-index: 0; 
}

.founder,
.cofounder {
    position: relative;
    text-align: center;
    z-index: 2; 
}

.founderparagraph,
.cofounderparagraph {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    font-size: 16px; 
    max-width: 80%; 
    z-index: 2; /* Add a higher z-index to the text */
}
h4{
    font-size: 32px;
    text-transform: uppercase;
}

li {
    list-style: none;
    display: inline-block;
}
li a {
    color: white;
    font-size: 25px;
    margin-right: 25px;
    text-decoration: none;
}
#foundername {
    font-size: 21px;
    letter-spacing: 8px;
}
#aboutusheading {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 60px;
}

.partnerlogo 
{
    display: flex;
    justify-content: space-evenly;
    position: relative;

}
.missionsection {
    display: flex;
    justify-content: center;
}
.visionsection {
    display: flex;
    justify-content: center;
}
.valuessection {
    display: flex;
    justify-content: center;
}
.formsection {
    background-color: #070707;
    margin: 100%;
    width: 400px;
    height: auto;
    margin: 0 auto
   
}
.services
{
    float:left;
}
form
 {
    color: #000;
    text-align: center;
}
input {
    display: flex;
    padding: 10px;
    margin: 15px;
    flex-direction: column;
    margin-left: 5px;

    width: 30%;
    background-color: grey;
    align-items: center;
    width: 300px;
    margin: 0 auto; 

}
label {
    display: flex;
    justify-content: center;
    color:grey;
}
button {
    background-color: grey;
    padding: 10px;

}
button:hover {
    background-color: darkgrey;
}
.topbar a:hover{
    color: gray;
}
.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
    margin-left: 250px; 
}

.service-image img {
    max-width: 100%;
    height: 300px;
    justify-content: center;
}

.service-content {
    flex: 1;
    margin-left: 70px;
    text-align: left;
    justify-content: left;
  
}
.footerbar
{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
.footerbar
{
    display: flex;
    justify-content: center;

}
.footerlogos a
{
    display: inline flex;
    height: 50px;
    justify-content: space-evenly;
    margin: 10px;
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
    max-width: 400px; 
    background-color: black;
    padding: 20px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
  .modal-content {
    margin-bottom: 20px;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#message
{
    background-color: gray;
    color: black;
    font-weight: bolder;
    height: 150px;
}
h4{
    display: flex;
    justify-content: center;
}